
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Franklin Gothic Medium';
}

button, input {
  font-family: 'Franklin Gothic Medium';
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}
